* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #DBCC95;
}
.logo {
    width: 130px;
    margin-left: 1em;
    height: fit-content;
} 

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CD8D7A;
    width: 100%;
    height: 100px;
    z-index: 1;
}


.links {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.links a {
    display: flex;
    align-items: center;
    height: 60px;
    padding-inline: 25px;
    color: black;
    background-color: #EAECCC;
}

a {
    text-decoration: none;
}

.categories {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #EAECCC;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 4vh;
    font-weight: bold;
}

.categories a:hover {
    color:#EAECCC;
}

.container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #EAECCC;
}

.container img {
    width: 100%;
    height: 100%;
}

.container div {
    position: relative;
    margin: 50px;

}


.container p {
    position: absolute;
    bottom: 0;
    background-color: rgba(240, 250, 255, 0.511);
    width: 100%;
    height: 10%;
    font-size: 2em;
    font-family: cursive sans-serif;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #CD8D7A;
}

.links2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.links2 a {
    padding: 15px;
    color: #000;
    background-color: #EAECCC;
}

#noborder {
    border: none;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 2em;
}

@media screen and (width < 540px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.social {
    width: 100%;
    height: fit-content;
    background-color: #CD8D7A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: #CD8D7A;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* <reset-style> ============================ */

  .menu__button {
    padding: 1.5px;
    border: none;
    background: none;
    margin-left: 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    min-width: 42px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: background-color .4s;
  }
  
  .menu__button span {
    color: #000;
    line-height: 1;
    transition: color .4s;
  }
  
  .menu__button:hover {
    background: linear-gradient(90deg, #DBCC95 50%, transparent 0) repeat-x,
          linear-gradient(90deg, #DBCC95 50%, transparent 0) repeat-x,
          linear-gradient(0deg, #DBCC95 50%, transparent 0) repeat-y,
          linear-gradient(0deg, #DBCC95 50%, transparent 0) repeat-y;
    background-size: 6px 4px, 6px 4px, 4px 6px, 4px 6px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .4s infinite linear;
  }
  
  .menu__button:hover span {
    color: #fff;
  }
  
  @keyframes linearGradientMove {
    100% {
      background-position: 6px 0, -6px 100%, 0 -6px, 100% 6px;
    }
  }