* {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

body{
  min-width: 00px;
  background-color: #CD8D7A;
}
.logo {
    width: 130px;
    margin-left: 1em;
    height: fit-content;
} 

header{
  box-shadow: 0 0 20px #CD8D7A;
  width: 86%;
  margin: 7%;
  height: 70vh;
  margin-top: 180px;
  background-image: url(hero2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3rem;
  width: 6em;
  position: relative;
  left: 40%;
  text-shadow: 0 0 20px #CD8D7A;
}

.row{
  justify-content: center;
}

#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CD8D7A;
    width: 100%;
    height: 75px;
    z-index: 1;
}


.links {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.links a {
    display: flex;
    align-items: center;
    height: 60px;
    padding-inline: 25px;
    color: black;
    background-color: #EAECCC;
}

a {
    text-decoration: none;
    padding-top: 10px;
}

.categories {
    padding-top: 5px; 
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #EAECCC;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 70px;
}

.container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #EAECCC;
}

.container img {
    width: 100%;
    height: 100%;
}

.container div {
    position: relative;
    margin: 20px;
}


.container p {
    position: absolute;
    bottom: 0;
    background-color: rgba(240, 250, 255, 0.511);
    width: 100%;
    height: 10%;
    font-size: 2em;
    font-family: cursive sans-serif;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
}

/* card style */

.box {
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

/* cards style end */

footer {
    text-align: center;
    padding: 20px;
    background-color: #CD8D7A;
}

.links2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.links2 a {
    padding: 15px;
    color: #000;
    background-color: #EAECCC;
}

#noborder {
    border: none;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 2em;
}

.social {
    width: 100%;
    height: fit-content;
    background-color: #CD8D7A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: #CD8D7A;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* <reset-style> ============================ */

  .menu__button {
    padding: 1.5px;
    border: none;
    background: none;
    margin-left: 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    min-width: 42px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: background-color .4s;
  }
  
  .menu__button span {
    color: #000;
    line-height: 1;
    transition: color .4s;
  }
  
  .menu__button:hover {
    background: linear-gradient(90deg, #DBCC95 50%, transparent 0) repeat-x,
          linear-gradient(90deg, #DBCC95 50%, transparent 0) repeat-x,
          linear-gradient(0deg, #DBCC95 50%, transparent 0) repeat-y,
          linear-gradient(0deg, #DBCC95 50%, transparent 0) repeat-y;
    background-size: 6px 4px, 6px 4px, 4px 6px, 4px 6px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .4s infinite linear;
  }
  
  .menu__button:hover span {
    color: #fff;
  }
  
  @keyframes linearGradientMove {
    100% {
      background-position: 6px 0, -6px 100%, 0 -6px, 100% 6px;
    }
  }


.btnCategory {
  width: 130px;
  height: 40px;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  background-color: #171717;
  color: #EAECCC;
  border: none;
  border-radius: 5px;
  transition: all .4s;
  }
  
  .btnCategory:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #CD8D7A,
    0 15px 0 -4px #DBCC95,
    0 16px 10px -3px #CD8D7A;
  }

  .cards img{
    height: 300px;
    object-fit: cover;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    position: relative;
    margin: 5% auto;
    padding: 20px;
    background-color: #fefefe;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
  }

  #recipeDetails{
    width: 60%;
    position: relative;
    left: 20%;
  }
  #recipeDetails img{
    width: 100%;
  }